
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_501,q_50,w_1216/v1/clients/utahddm/_6854ef3a-e563-4ae7-889b-03a7d34a8563.07eec82311.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
}

.weather-header {
  text-align: center;
  margin: 25px;
  padding: 10px;
  border-radius: 10PX;

}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 90%;
  background: linear-gradient(rgba(252, 250, 250, 0.6), rgba(0,0,0, 0.6));
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  
}

.weatherdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%px;
  width: 65%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 90%;
  padding-bottom:15px;

}

form button [type="submit"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;

}

form button ion-icon {
  margin: auto;
  font-size: 14px;
}

